@import url('../../globalStyles.css');
.element{
    border-radius: 50px;
}
.div{
    border: none;
    height: 45px;
    margin: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.faded-gradient{
    background: linear-gradient(225deg, rgba(151, 108, 243, 0.5), rgba(49, 79, 219, 0.5));
}
.center{
    margin-bottom: 0rem;
}

.btn-primary:hover:is(.faded-gradient) {
    background-color: #000000 !important;
    border: none;
}