.fade-out {
	mask-image: -webkit-gradient(linear, center top, center bottom, 
			color-stop(0.70,  rgba(0,0,0,1)),
			color-stop(0.97,  rgba(0,0,0,0)));
}

.carousel img {
	height: 100%!important;
	width: 100%!important;
	object-fit: contain;
	display: block;
   	margin-left: auto;
  	margin-right: auto;
}

.carousel {
	border-radius: 10px;
	overflow: hidden;
}

.img-holder {
	height: 360px;
	background-color: rgba(0, 0, 0, 0.3);
}