@import url('../../globalStyles.css');
.rectangle {
    position: absolute;
    width: 400px;
    height: 247px;
    left: 953px;
    top: 159px;
    background: #0E141B;
    border-radius: 10px;
}

.cont {
    width: 90%;
    height: 100%;
    z-index: 0 !important;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    z-index: 0 !important;
}

.img {
    border-radius: 60rem;
    border: 1px solid black;
    height: 200px !important;
    width: 200px !important;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.grid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0 !important;
}